/* input{
    border: none;
    background: transparent;
    border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

form input .form-control .right{
    text-decoration: none;
    color: black;
} */